*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    
    background: transparent;
    font-size: 15px;
}
html{
    scroll-behavior: smooth;
}